.setStatisticsTable td {
    height: 30px;
    text-overflow: ellipsis;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
}

.setStatisticsTable th {
    height: 30px;
    text-align: left;
}

.setStatisticsTable {
    width: 100%;
    padding-top: 30px;
	padding-bottom: 44px;
    display: flex;
    justify-content: center;
    font-family: "Readex";
    font-size: 12px;
    color: var(--main-gray80);
}

.statsTable{
    margin: 0 0 0 0;
    width: 90%;
    border-collapse: collapse;
    font-size: clamp(8px, 2.5vw, 12px);
}

.itemColumn {
    width: 65%;
}

.attemptsColumn {
    width: 15%;
}

.masteryColumn {
    width: 20%;
}

.boldRow {
    font-family: "ReadexBold";
    position: relative;
    color: var(--main-gray110);
    border-radius: 2px;
    border-bottom: 1px solid var(--main-gray110);
}

.headerRow{
    cursor: pointer;
    vertical-align: middle;
}

.headerRow:hover{
    background-color: var(--white-gray240);
    cursor: pointer;
    vertical-align: middle;
    color: var(--main-gray80);
    border-bottom: 1px solid var(--main-gray80);
}

.arrowIcon{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 30px;
    padding-top: 2px;
    float: right;
    width: 20%;
    margin-right: 0px;
    padding-right: 4px;
}

.arrowIconMastery{
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    width: 20%;
    padding-top: 2px;
    float: right;
}

.tdText{
    align-items: center;
    display: flex;
    float: left;
    height: 30px;
    padding-left: 0px;
    padding-right: 4px;
    width: 80%;
}

.tdTextAttempts{
    align-items: center;
    display: flex;
    float: left;
    height: 30px;
    width: 80%;
    padding-left: 12px;
    padding-right: 4px;
}

.tdTextMastery{
    align-items: center;
    display: flex;
    float: left;
    height: 30px;
    width: 80%;
    padding-left: 24px;
    padding-right: 4px;
}

.normalRow {
    border-bottom: 1px solid var(--main-gray180);
}

.attemptsTextTable{
    text-align: center;
}

.masteryTextTable{
    text-align: center;
}

.masteryboxes{
    width: 80%;
    height: 80%;
    margin: 0px 0px 0px 22%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.masterybox1{
    width: clamp(2px,15%,16px);
    margin: 0px 1px 0px 1px;
    aspect-ratio: 1/1;
    background-color: var(--main-gray180-a75);
	border: 1px solid var(--main-gray180);
	border-radius: 2px;
}

.masterybox2{
    width: clamp(2px,15%,16px);
    aspect-ratio: 1/1;
    margin: 0px 1px 0px 1px;
    background: var(--gray-blue75);
	border: 1px solid var(--gray-blue);
	border-radius: 2px;
}

.masterybox3{
    width: clamp(2px,15%,16px);
    aspect-ratio: 1/1;
    margin: 0px 1px 0px 1px;
    background: var(--light-blue75);
	border: 1px solid var(--light-blue);
	border-radius: 2px;
}

.masterybox4{
    width: clamp(2px,15%,16px);
    aspect-ratio: 1/1;
    margin: 0px 1px 0px 1px;
    background: var(--main-blue75);
	border: 1px solid var(--main-blue);
	border-radius: 2px;
}

@media (max-width: 700px) {
    .attemptsTextTable{
        display: none;
    }
    .attemptsColumn{
        display: none;
    }
    .masteryColumn {
        width: 30%;
    }
}