.cardcontainer {
    position: relative;
    width: clamp(250px,90%,450px);
    aspect-ratio: 45 / 28;
    z-index: 1;
}

.flipModeOuter{
	padding-bottom:40px;
}
  
.aboveCard{
    font-family: "ReadexLight";
    font-size: 12px;
    color: var(--main-gray155);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
}
  
.aboveCardInner{
    width: clamp(250px,90%,450px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.belowCard{
    font-family: "ReadexBold";
    font-size: 12px;
    color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
  
.belowCardInner{
    width: clamp(250px,90%,450px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.feedButtonNeg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;
    height: 100%;
    background-color: var(--main-gray180-a75);
    cursor: pointer;
    border-radius: 8px;
}
  
.feedButtonNeut{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;
    height: 100%;
    background-color: var(--white-gray240-a75);
    cursor: pointer;
    color: var(--main-gray60);
    border-radius: 8px;
}
  
.feedButtonPos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;
    height: 100%;
    background-color: var(--main-blue75);
    cursor: pointer;
    border-radius: 8px;
}
  
.feedButtonNeg:hover{
    background-color: var(--main-gray180);
}
  
.feedButtonNeut:hover{
    background-color: white;
	border: 2px solid var(--white-gray240);
    color: var(--main-gray60);
}
  
.feedButtonPos:hover{
    background-color: var(--main-blue);
}
  
.randomOuterOuter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 100%
}
  
.randomOuter{
    box-sizing: border-box;
    width: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.randomizeText{
    box-sizing: border-box;
    width: 14px;
    height: 14px;
}
  
.randomOrder{
    width: 14px;
    height: 14px;
    cursor: pointer;
}
  
.randomOrder .checkmark{
    width: 100%;
    height: 100%;
    border: 1px solid var(--main-gray155);
    display: inline-block;
    border-radius: 7px;
}
  
.randomOrder input {
    display: none;
}
  
.randomOrder input:checked + .checkmark{
    background-color: var(--main-blue75);
    border: 0px solid var(--main-gray155);
}
  
.innerCircle{
    margin-left: 4px;
    margin-top: 4px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: white;
}
  
.cardRowContainer{
   width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
  
.leftButton{
    height: 280px;
    margin-right: 10px;
    width: 40px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.rightButton{
    height: 280px;
    margin-left: 10px;
    width: 40px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.leftButton:hover{
    background-color: var(--white-gray250);
}
  
.rightButton:hover{
    background-color: var(--white-gray250);
}
  
.mobileleftandright{
    font-family: "ReadexBold";
    font-size: 12px;
    color: white;
    margin: 0 auto;
    display: none;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 5px;
}
  
.mobileInner{
    width: clamp(250px,90%,450px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.mobileLeft{
    height: 100%;
    width: 49%;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.mobileRight{
    height: 100%;
    width: 49%;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.mobileLeft:hover{
    background-color: var(--white-gray250);
}
  
.mobileRight:hover{
    background-color: var(--white-gray250);
}

.thecardFinished{
	position: absolute;
	width: 100%;
	height: 100%;
}

.fronttextFinished{
	width: 100%;
	text-align: center;
	font-family: "Readex";
	font-size: clamp(0.6rem, 5.5vw, 1.2rem);
}

.fronttextFinishedClickToRestart{
	width: 100%;
	padding-bottom: 14px;
	text-align: center;
	font-family: "Readex";
	font-size: clamp(0.425rem, 5.5vw, 0.85rem);
	color: var(--main-blue75);
	cursor: pointer;
}

.fronttextFinishedClickToRestart:hover{
	color: var(--main-blue);
}
  
.thefrontFinished{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	background: white;
	border-radius: 10px;
	border: 2px solid rgb(241, 241, 241);
	color: var(--main-gray60);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}
  
@media (max-width: 600px) {
    .leftButton{
      display: none;
    }
    
    .rightButton{
      display: none;
    }
    .mobileleftandright{
      display: flex;
    }
}