.homeContainerMain {
    width: clamp(200px,96%,800px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 50px;
    padding-bottom: 10px;
    z-index: 2;
    background-color: rgba(242, 245, 250,0.0);
}

.authPossiblyContainer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Readex";
    font-size: 20px;
    color:rgb(70, 70, 70);
}

.authPossiblyText{
    padding-left: 20px;
    font-size: clamp(10px, 2.5vw, 15px);
}

.takeToAuthButton{
    display: flex;
    height: 30px;
    width: clamp(60px, 40%, 140px);;
    background-color: #2f6dff9c;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 5px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: clamp(9px, 2.5vw, 12px);
}

.takeToAuthButton:hover{
    background-color: #2f6effe1;
}

.profileCont{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 2px solid rgb(241, 241, 241);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Readex";
    font-size: 14px;
    color: var(--main-gray60);
}

.profileUsernameText{
    padding-left: 15px;
}

.profileIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 28px;
}

.leftSideCont{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rightSideCont{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.learningStreakCont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 28px;
    margin-left: 18px;
}

.learningStreakBoxGray{
    margin-left: 1px;
    margin-right: 1px;
    width: 15px;
    height: 15px;
    background-color: rgb(235, 235, 235);
    border-radius: 2px;
    border: 1px solid rgb(218, 218, 218);
}

.learningStreakBoxGreen{
    margin-left: 1px;
    margin-right: 1px;
    width: 15px;
    height: 15px;
    background-color: rgb(97, 223, 135);
    border-radius: 2px;
    border: 1px solid rgb(77, 199, 113);
}

.learningStreakText{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100px;
    font-size: 12px;
    color: rgb(145, 145, 145);
}

.mainHomeContainer{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 2px solid rgb(241, 241, 241);
    font-family: "Readex";
    font-size: 14px;
    color:rgb(70, 70, 70);
}

.mainHomeContainerE{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 2px solid rgb(241, 241, 241);
    font-family: "Readex";
    font-size: 14px;
    min-height: calc(100vh - 220px);;
    color:rgb(70, 70, 70);
}

.homeViewUpperText{
    font-family: "ReadexBold";
    font-size: 24px;
    color:rgb(80, 80, 80);
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.aboveCollectionsContainer{
    margin-top: 10px;
    height: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    font-family: "ReadexBold";
    font-size: clamp(12px, 3.5vw, 20px);
    color:rgb(80, 80, 80);
}

.filterContainer{
    height: 30px;
    width: clamp(150px,220px,220px);
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    font-family: "ReadexBold";
    font-size: clamp(7px, 3.5vw, 9px);
    color: white;
}

.filterAll{
    width: 32%;
    height: 100%;
    background-color: white;
	color: var(--main-gray80);
	border: 2px solid var(--white-gray240);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 2px;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.filterAll:hover{
	background-color: var(--white-gray250);
    border-radius: 12px;
}

.filterCreated{
    width: 32%;
    height: 100%;
    background-color: white;
	color: var(--main-gray80);
	border: 2px solid var(--white-gray240);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 2px;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.filterCreated:hover{
	background-color: var(--white-gray250);
    border-radius: 12px;
}

.filterSaved{
    width: 32%;
    height: 100%;
    background-color: white;
	color: var(--main-gray80);
	border: 2px solid var(--white-gray240);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 2px;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.filterSaved:hover{
	background-color: var(--white-gray250);
    border-radius: 12px;
}

.filterAllS{
    width: 32%;
    height: 100%;
    background-color: var(--main-blue);
    border: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 2px;
}

.filterSavedS{
    width: 32%;
    height: 100%;
    background-color: var(--main-blue);
    border: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 2px;
}

.filterCreatedS{
    width: 32%;
    height: 100%;
    background-color: var(--main-blue);
    border: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 2px;
}

.homeCollectionsFlexContainer{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.collectionEmptyItem{
    margin-top: 4px;
    margin-bottom: 4px;
    width: 90%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(241, 241, 241);
    border-radius: 4px;
    color:rgb(119, 119, 119);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collectionEmptyItem:hover{
    color:rgba(41, 116, 255, 0.801);
	border: 3px solid rgb(241, 241, 241);
}

.emptyIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    margin-left: 10%;
}

.emptyText{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    margin-right: 10%;
}

@media (max-width: 400px) {
    .learningStreakText{
        display: none;
    }
}