.revealmodeTable{
    width: 100%;
    padding-top: 30px;
	padding-bottom: 40px;
    display: flex;
    justify-content: center;
    font-family: "Readex";
    font-size: 12px;
    color: var(--main-gray80);
}

.normalRowTd{
    border-right: 1px solid var(--white-gray240);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.normalAnswerTd1{
    border-right: 1px solid var(--white-gray240);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.normalAnswerTd0{
    border-right: 1px solid var(--white-gray240);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.normalAnswerTd2{
    border-right: 1px solid var(--white-gray240);
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.normalAnswerTd0:hover{
    background-color: var(--white-gray240-a75);
    color: var(--white-gray240-a75);
}

.tdFbOuter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    left: 0px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    height: 100%;
    position:absolute;
    font-family: "ReadexBold";
    font-size: 12px;
}

.fbneg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30px;
    z-index: 8;
    background-color: var(--main-gray180-a75);
    cursor: pointer;
    border-radius: 4px;
}

.fbneu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30px;
    z-index: 8;
    background-color: var(--white-gray240-a75);
    color: rgb(58, 58, 58);
    cursor: pointer;
    border-radius: 4px;
}

.fbpos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30px;
    z-index: 8;
    background-color: var(--main-blue75);
    cursor: pointer;
    border-radius: 4px;
}

.fbneg:hover{
    background-color: var(--main-gray180);
}

.fbneu:hover{
    background-color: white;
	border: 2px solid var(--white-gray240);
    color: var(--main-gray60);
}

.fbpos:hover{
    background-color: var(--main-blue);
}

.revealmodeTable th {
    text-align: left;
}

.revealTable{
    margin: 0 0 0 0;
    width: 90%;
    border-collapse: collapse;
    font-size: clamp(8px, 2.5vw, 12px);
    table-layout: fixed;
}

.questionColumn {
    width: 50%;
}

.answerColumn {
    width: 50%;
}

.fboldRow {
    font-family: "ReadexBold";
    position: relative;
    color: var(--main-gray110);
    border-radius: 2px;
    border-bottom: 1px solid var(--main-gray110);
    border-left: 1px solid var(--main-gray110);
    border-top: 1px solid var(--main-gray110);
}

.fheaderRow{
    vertical-align: middle;
    border-right: 1px solid var(--main-gray110);
    padding-left: 6px;
    padding-right: 6px;
}

.ftdText{
    align-items: center;
    display: flex;
    height: 30px;
}

.normalRevealRow {
    border-bottom: 1px solid var(--white-gray240);
    border-top: 1px solid var(--white-gray240);
    border-left: 1px solid var(--white-gray240);
}