.editCollectionTable{
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-family: "Readex";
    font-size: 12px;
    color: rgb(85, 85, 85);
}

.normalRowTd{
    border-right: 1px solid rgb(240, 240, 240);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
}

.normalAnswerTd1{
    border-right: 1px solid rgb(240, 240, 240);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.normalAnswerTd0{
    border-right: 1px solid rgb(240, 240, 240);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
    cursor: pointer;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.normalAnswerTd2{
    border-right: 1px solid rgb(240, 240, 240);
    position: relative;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.normalAnswerTd0:hover{
    background-color: rgb(243, 243, 243);
    color: rgb(243, 243, 243);
}

.tdFbOuter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    left: 0px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    height: 100%;
    position:absolute;
    font-family: "ReadexBold";
    font-size: 12px;
}

.fbneg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30px;
    z-index: 8;
    background-color: rgb(228, 109, 109, 0.5);;
    cursor: pointer;
    border-radius: 2px;
}

.fbneu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30px;
    z-index: 8;
    background-color: rgba(241, 241, 241, 0.5);
    color: rgb(58, 58, 58);
    cursor: pointer;
    border-radius: 2px;
}

.fbpos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30px;
    z-index: 8;
    background-color: rgb(109, 230, 139, 0.5);
    cursor: pointer;
    border-radius: 2px;
}

.fbneg:hover{
    background-color: rgb(228, 109, 109, 1.0);;
}

.fbneu:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(58, 58, 58);
}

.fbpos:hover{
    background-color: rgb(109, 230, 139, 1.0);
}

.revealmodeTable th {
    text-align: left;
}

.editTable{
    margin: 0 0 0 0;
    width: 100%;
    border-collapse: collapse;
    font-size: clamp(8px, 2.5vw, 12px);
    table-layout: fixed;
}

.editTableForm{
    margin: 0 0 0 0;
    width: 90%;
}

.questionColumn {
    width: 50%;
}

.answerColumn {
    width: 50%;
}

.fboldRow {
    font-family: "ReadexBold";
    position: relative;
    color: rgb(105, 105, 105);
    border-radius: 2px;
    border-bottom: 1px solid rgb(105, 105, 105);
    border-left: 1px solid rgb(105, 105, 105);
    border-top: 1px solid rgb(105, 105, 105);
}

.fheaderRow{
    vertical-align: middle;
    border-right: 1px solid rgb(105, 105, 105);
    padding-left: 6px;
    padding-right: 6px;
}

.ftdText{
    align-items: center;
    display: flex;
    height: 30px;
}

.normalRevealRow {
    border-bottom: 1px solid rgb(240, 240, 240);
    border-top: 1px solid rgb(240, 240, 240);
    border-left: 1px solid rgb(240, 240, 240);
}