.editCollectionTable{
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-family: "Readex";
    font-size: 12px;
    color: rgb(85, 85, 85);
}

.enormalRowTd{
    border-right: 1px solid rgb(240, 240, 240);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
}

.fbneg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30px;
    z-index: 8;
    background-color: rgb(228, 109, 109, 0.5);;
    cursor: pointer;
    border-radius: 2px;
}

.fbneu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30px;
    z-index: 8;
    background-color: rgba(241, 241, 241, 0.5);
    color: rgb(58, 58, 58);
    cursor: pointer;
    border-radius: 2px;
}

.fbpos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30px;
    z-index: 8;
    background-color: rgb(109, 230, 139, 0.5);
    cursor: pointer;
    border-radius: 2px;
}

.fbneg:hover{
    background-color: rgb(228, 109, 109, 1.0);;
}

.fbneu:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(58, 58, 58);
}

.fbpos:hover{
    background-color: rgb(109, 230, 139, 1.0);
}

.editTable th {
    text-align: left;
}

.editTable{
    margin: 0 0 0 0;
    width: 100%;
    border-collapse: collapse;
    font-size: clamp(8px, 2.5vw, 12px);
    table-layout: fixed;
}

.editTableForm{
    margin: 0 0 0 0;
    width: 90%;
}

.editquestionColumn {
    width: 47%;
}

.editanswerColumn {
    width: 47%;
}

.editdeleteColumn {
    width: 6%;
}

.eboldRow {
    font-family: "ReadexBold";
    position: relative;
    color: rgb(105, 105, 105);
    border-radius: 2px;
    border-bottom: 1px solid rgb(105, 105, 105);
    border-left: 1px solid rgb(105, 105, 105);
    border-top: 1px solid rgb(105, 105, 105);
}

.eheaderRow{
    vertical-align: middle;
    border-right: 1px solid rgb(105, 105, 105);
    padding-left: 6px;
    padding-right: 6px;
}

.etdText{
    align-items: center;
    display: flex;
    height: 30px;
}

.editDelIcon{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delButton{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 2px;
}

.delButton:hover{
    background-color: rgb(240, 240, 240);
}

.inputspan{
    display: block;
    padding: 4px 4px;
    width: 100%;
    overflow: hidden;
    min-height: 30px;
    line-height: 20px;
    border: 1px solid rgb(240, 240, 240);
}

.enormalRevealRow {
    border-bottom: 1px solid rgb(240, 240, 240);
    border-top: 1px solid rgb(240, 240, 240);
    border-left: 1px solid rgb(240, 240, 240);
}