.containerMainAuth {
    width: clamp(200px,96%,380px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 50px;
    padding-bottom: 10px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
}

.authContainerS{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 350px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 2px solid rgb(241, 241, 241);
    font-family: "Readex";
    font-size: 12px;
    color:rgb(70, 70, 70);
}

.authContainerR{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 480px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 2px solid rgb(241, 241, 241);
    font-family: "Readex";
    font-size: 12px;
    color:rgb(70, 70, 70);
}

.emptyContS{
    height: calc(100vh - 575px);
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.emptyContR{
    height: calc(100vh - 705px);
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.emptyContE{
    height: calc(100vh - 545px);
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.emptyContF{
    height: calc(100vh - 460px);
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.authViewName{
    font-family: "ReadexBold";
    font-size: 24px;
    color:var(--dark-blue-black);
    padding-left: 10px;
    margin-top: 8vh;
    margin-bottom: 10px;
}

.authFlexCont{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.emailContainer{
    height: 40px;
    width: 80%;
    margin-top: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.usernameContainer{
    height: 40px;
    width: 80%;
    margin-top: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.passwordContainer{
    height: 40px;
    width: 80%;
    margin-top: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.choiceContainer{
    width: 80%;
    height: 40px;
    margin-top: 16px;
	margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: "ReadexBold";
    font-size: 16px;
    color:rgb(166, 166, 166);
}

.signInChoice{
    width: 70px;
    height: 100%;
    margin-right: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 4px solid white;
}

.signInChoiceA{
    width: 70px;
    height: 100%;
    margin-right: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color:var(--dark-blue-black);
    border-bottom: 4px solid var(--dark-blue-black);
}

.registerChoice{
    width: 70px;
    height: 100%;
    margin-right: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 4px solid white;
}

.registerChoiceA{
    width: 70px;
    height: 100%;
    margin-right: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color:var(--dark-blue-black);
    border-bottom: 4px solid var(--dark-blue-black);
}

.signInChoice:hover{
    color:var(--dark-blue-black);
    border-bottom: 4px solid var(--dark-blue-black);
}

.registerChoice:hover{
    color:var(--dark-blue-black);
    border-bottom: 4px solid var(--dark-blue-black);
}

.emailInput{
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border: 2px solid rgb(241, 241, 241);
    font-family: "Readex";
    font-size: 12px;
    color:rgb(70, 70, 70);
}

.emailInput:focus{
    border: none;
    border: 2px solid rgba(41, 116, 255, 1.0);;
    outline: none;
}

.emailInput::placeholder{
    font-family: "Readex";
    font-size: 12px;
    color:rgb(164, 164, 164)
}

.emailInputS{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(241, 241, 241);
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: "Readex";
    font-size: 12px;
    color:rgb(70, 70, 70);
}

.emailInputS:focus{
    border: none;
    border: 2px solid rgba(41, 116, 255, 1.0);;
    outline: none;
}

.emailInputS::placeholder{
    font-family: "Readex";
    font-size: 12px;
    color:rgb(164, 164, 164)
}

.usernameInput{
    width: 90%;
    height: 100%;
    box-sizing: border-box;
	border: 2px solid rgb(241, 241, 241);
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: "Readex";
    font-size: 12px;
    color:rgb(70, 70, 70);
}

.usernameInput:focus{
    border: none;
    border: 2px solid rgba(41, 116, 255, 1.0);;
    outline: none;
}

.usernameInput::placeholder{
    font-family: "Readex";
    font-size: 12px;
    color:rgb(164, 164, 164)
}

.passwordInput{
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    border: 2px solid rgb(241, 241, 241);
    font-family: "Readex";
    font-size: 12px;
    border-radius: 4px;
    color:rgb(70, 70, 70);
}

.passwordInput:focus{
    border: none;
    border: 2px solid rgba(41, 116, 255, 1.0);;
    outline: none;
}

.passwordInput::placeholder{
    font-family: "Readex";
    font-size: 12px;
    color:rgb(164, 164, 164)
}

.passwordInputS{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    border: 2px solid rgb(241, 241, 241);
    font-family: "Readex";
    font-size: 12px;
    border-radius: 4px;
    color:rgb(70, 70, 70);
}

.passwordInputS:focus{
    border: none;
    border: 2px solid rgba(41, 116, 255, 1.0);;
    outline: none;
}

.passwordInputS::placeholder{
    font-family: "Readex";
    font-size: 12px;
    color:rgb(164, 164, 164)
}

.emailTextContainer{
    width: 80%;
    margin-top: 2px;
}

.usernameTextContainer{
    width: 80%;
    margin-top: 2px;
}

.passwordTextContainer{
    width: 80%;
    margin-top: 2px;
}

.signinButton{
    display: flex;
    height: 40px;
    width: 80%;
    margin-top: 10px;
    background-color: var(--main-blue);
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    color: white;
    border-radius: 12px;
    cursor: pointer;
	border: none;
	font-size: 12px;
    font-family: "ReadexBold";
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.signinButton:hover{
    border-radius: 20px;
}

.registerButton{
    display: flex;
    height: 40px;
    width: 80%;
    margin-top: 16px;
    background-color: var(--main-blue);
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    color: white;
    border-radius: 12px;
    cursor: pointer;
	border: none;
	font-size: 12px;
    font-family: "ReadexBold";
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.registerButton:hover{
    border-radius: 20px;
}

.loginForm{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

.loginError{
    width: 70%;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
    background-color: rgb(240, 120, 120);
    border: 1px solid rgb(217, 108, 108);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Readex";
    font-size: 12px;
    color:rgb(255, 255, 255)
}

.loginErrorText{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
}

.usernameIconCheck{
	width: 10%;
	min-width: 25px;
	margin-left: 4px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.userNameErrorText{
    width: 80%;
	min-height: 14px;
    margin-top: 6px;
	font-size: 11px;
	font-family: "ReadexLight";
	color: rgb(255, 89, 89);
}

.userNameErrorText2{
    width: 80%;
	min-height: 14px;
    margin-top: 2px;
	font-size: 11px;
	font-family: "ReadexLight";
	color: rgb(255, 89, 89);
}

.loginOptionsContainer{
	width: 80%;
	display: flex;
	align-items:center;
	justify-content:space-between;
	height: 14px;
	font-size: 12px;
	margin-top: 8px;
	font-family: "Readex";
	color: var(--main-blue);
}

.forgotPasswordLink{
	width: 50%;
	height: 100%;
	cursor: pointer;
}

.rememberMeBox{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: var(--light-blue-black);
	font-family: "Readex";
}

.rememberMeButton{
	box-sizing: border-box;
    width: 20px;
    height: 100%;
	margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rememberMeButtonButton{
	box-sizing: border-box;
    width: 14px;
    height: 14px;
}

.rememberLabel{
	cursor: pointer;
}

.rememberLabel .checkMarkInRemember{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(230, 230, 230);
    display: inline-block;
    border-radius: 2px;
}

.rememberLabel input {
    display: none;
}
  
.rememberLabel input:checked + .checkMarkInRemember{
    background-color: var(--main-blue85);
	border-radius: 2px;
    border: 0px solid rgb(235, 235, 235);
}

.innerRememberCircle{
	margin-left: 3px;
    margin-top: 3px;
    width: 0px;
    height: 0px;
    border-radius: 1px;
    background-color: var(--main-blue);
}


.recoverForm{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

.sendButton{
    display: flex;
    height: 40px;
    width: 80%;
    margin-top: 10px;
    background-color: var(--main-blue);
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    color: white;
    border-radius: 12px;
    cursor: pointer;
	border: none;
	font-size: 12px;
    font-family: "ReadexBold";
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.sendButton:hover{
    border-radius: 20px;
}

.authContainerE{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 320px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 2px solid rgb(241, 241, 241);
    font-family: "Readex";
    font-size: 12px;
    color:rgb(70, 70, 70);
}

.authContainerF{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 230px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 2px solid rgb(241, 241, 241);
    font-family: "Readex";
    font-size: 12px;
    color:rgb(70, 70, 70);
}

.recoverTitle{
    width: 150px;
    height: 100%;
    margin-right: 22px;
    display: flex;
    align-items: center;
    color:var(--dark-blue-black);
    border-bottom: 4px solid var(--dark-blue-black);
}

.recoveryText{
	width: 80%;
	height: 40px;
	margin-top: 4px;
	margin-bottom: 20px;
	font-family: "ReadexLight";
	color: var(--light-blue-black);
	font-size: 12px;
	text-align: justify;
}

.recoveryTextSuccess{
	margin:auto;
	width: 80%;
	margin-top: 4px;
	margin-bottom: 20px;
	font-family: "ReadexLight";
	color: var(--light-blue-black);
	font-size: 12px;
	text-align: justify;
}