.containerMain {
    width: clamp(200px,96%,800px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 50px;
    padding-bottom: 10px;
    z-index: 2;
    background-color: rgb(242, 245, 250);
}

.searchBarContainer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Readex";
    font-size: 20px;
    color:rgb(70, 70, 70)
}

.searchInput{
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right:14px;
    border: none;
    border-bottom: 1px solid rgb(240, 240, 240);
    font-family: "Readex";
    font-size: 15px;
    color:rgb(70, 70, 70);
}

.searchInput:focus{
    border: none;
    border-bottom: 1px solid rgba(41, 116, 255, 1.0);;
    outline: none;
}

.searchInput::placeholder{
    font-family: "Readex";
    font-size: 15px;
    color:rgb(164, 164, 164)
}

.searchIcon{
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    cursor: pointer;
}

.collectionsContainer{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-family: "Readex";
    font-size: 12px;
    color:rgb(70, 70, 70);
    min-height: calc(85vh - 0px);
}

.collectionItem{
    margin-top: 4px;
    margin-bottom: 4px;
    width: 90%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 4px;
    color:rgb(119, 119, 119);
    cursor: pointer;
}

.collectionItem:hover{
    color:rgba(41, 116, 255, 0.801);
    box-shadow: rgba(50, 50, 105, 0.3) 0px 2px 5px 0px, rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
}

.aboveResultsContainer{
    margin-top: 10px;
    height: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    font-family: "ReadexBold";
    font-size: clamp(12px, 3.5vw, 20px);
    color:rgb(80, 80, 80);
}

.collectionsFlexContainer{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.itemName{
    margin-left: 25px;
    margin-top: 20px;
    font-family: "ReadexBold";
    font-size: clamp(15px, 3.5vw, 20px);
    float: left;
}

.itemNameText{
    float:left;
}

.itemNameIcon{
    margin-left: 20px;
    margin-top: 4px;
    float:right;
    display: flex;
    align-items: center;
    color:rgb(119, 119, 119);
}

.innerItemNameText{
    margin-left: 4px;
    font-size: 10px;
}

.linkIcon{
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-right: 25px;
}

.itemCreator{
    margin-left: 25px;
    margin-top: 2px;
    font-family: "Readex";
    font-size: clamp(10px, 3.5vw, 12px);
    color:rgb(119, 119, 119);
    clear: both;
}

.itemObjects{
    margin-left: 25px;
    margin-top: 2px;
    font-family: "Readex";
    font-size: clamp(10px, 3.5vw, 12px);
    color:rgb(119, 119, 119);
    clear: both;
}

.browseViewName{
    font-family: "ReadexBold";
    font-size: 24px;
    color:rgb(80, 80, 80);
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}