td {
    height: 30px;
    text-overflow: ellipsis;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
}

th {
    height: 30px;
    text-align: left;
}

.statsTable{
    margin: 0 0 0 0;
    width: 90%;
    border-collapse: collapse;
    font-size: clamp(8px, 2.5vw, 12px);
}

.itemColumn {
    width: 65%;
}

.attemptsColumn {
    width: 15%;
}

.masteryColumn {
    width: 20%;
}

.boldRow {
    font-family: "ReadexBold";
    position: relative;
    color: rgb(105, 105, 105);
    border-radius: 2px;
    border-bottom: 1px solid rgb(105, 105, 105);
}

.headerRow{
    cursor: pointer;
    vertical-align: middle;
}

.headerRow:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    vertical-align: middle;
    color: rgb(78, 78, 78);
    border-bottom: 1px solid rgb(78, 78, 78);
}

.arrowIcon{
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    padding-top: 2px;
}

.arrowIconMastery{
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    padding-top: 2px;
    padding-left: 10%;
}

.tdText{
    align-items: center;
    display: flex;
    float: left;
    height: 30px;
    padding-left: 4px;
    padding-right: 4px;
}

.tdTextAttempts{
    align-items: center;
    display: flex;
    float: left;
    height: 30px;
    padding-left: 12px;
    padding-right: 4px;
}

.tdTextMastery{
    align-items: center;
    display: flex;
    float: left;
    height: 30px;
    padding-left: 24px;
    padding-right: 4px;
}

.normalRow {
    border-bottom: 1px solid rgb(177, 177, 177);
}

.attemptsTextTable{
    text-align: center;
}

.masteryTextTable{
    text-align: center;
}

.masteryboxes{
    width: 80%;
    height: 80%;
    margin: 0px 0px 0px 22%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.masterybox1{
    width: clamp(2px,15%,16px);
    margin: 0px 1px 0px 1px;
    aspect-ratio: 1/1;
    background-color: rgb(228, 109, 109);
}

.masterybox2{
    width: clamp(2px,15%,16px);
    aspect-ratio: 1/1;
    margin: 0px 1px 0px 1px;
    background: rgb(236, 227, 108);
}

.masterybox3{
    width: clamp(2px,15%,16px);
    aspect-ratio: 1/1;
    margin: 0px 1px 0px 1px;
    background: rgb(236, 227, 108);
}

.masterybox4{
    width: clamp(2px,15%,16px);
    aspect-ratio: 1/1;
    margin: 0px 1px 0px 1px;
    background: rgb(109, 230, 139);
}

@media (max-width: 700px) {
    .attemptsTextTable{
        display: none;
    }
    .attemptsColumn{
        display: none;
    }
    .masteryColumn {
        width: 30%;
    }
}