.containerMainLanding{
	width: clamp(200px,96%,1000px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 50px;
    padding-bottom: 10px;
    z-index: 2;
    background-color: rgba(255, 255, 255,0.0);
}

.containerMainLanding2{
	width: clamp(200px,96%,1000px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
    background-color: rgba(255, 255, 255,0.0);
}

.containerOuter{
	width: 100%;
    z-index: 2;
    background-color: rgb(255, 255, 255);
	min-height: 100vh;
}

.textMain{
	width: 70%;
    height: 140px;
    border: none;
	margin:auto;
	margin-top: 40px;
	display: flex;
	align-items: center;
    font-family: "ReadexBold";
    font-size: clamp(26px, 4.5vw, 42px);
    color:var(--dark-blue-black);
	text-align: center;
}

.subText{
	width: 70%;
    height: 80px;
    border: none;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
    font-family: "ReadexLight";
    font-size: clamp(13px, 2.5vw, 16px);
    color:var(--light-blue-black);
	text-align: center;
}

.navbar-outerLanding{
    display: flex;
    background-color: white;
    border-bottom: 1px solid rgb(232, 232, 232);
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar-tutorialLanding{
    min-height: 60px;
    display: flex;
    width: clamp(200px,1000px,1000px);
    justify-content: space-between;
    align-items: stretch;
    z-index: 8;
}

.nav-logoLanding{
    display: flex;
    align-items: center;
	justify-content: center;
	width: 200px;
}

.nav-brandingLanding{
    font-size: 1rem;
    font-family: "ReadexBold";
	display: flex;
    align-items: center;
	justify-content: center;
	color: var(--main-blue);
}

.navLogo {
    width:22px;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../../Assets/memBlue.png);
    padding-right: 10px;
	margin-right: 10px;
    cursor: pointer;
}

.navTryOuter{
	display: flex;
    align-items: center;
	justify-content: center;
	width: 200px;
	height: 100%;
}

.navTryButton{
	width: 140px;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 12px;
	font-family: "ReadexBold";
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: var(--main-blue);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.navTryButton:hover{
	border-radius: 20px;
}

.images1 {
	width: 200px;
	height: 100%;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
    aspect-ratio:initial;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../../Assets/log6.png);
}

.images2 {
	width: 200px;
	height: 100%;
	margin-left: 20px;
	margin-right: 20px;
    aspect-ratio:initial;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../../Assets/log9.png);
}

.images3 {
	width: 160px;
	height: 80%;
	margin-left: 20px;
	margin-right: 20px;
    aspect-ratio:initial;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../../Assets/log5.png);
}

.buttonsOuter{
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin-bottom: 40px;
}

.navLearnButton{
	width: 140px;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 12px;
	font-family: "ReadexBold";
	border: 2px solid var(--white-gray240);
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--main-gray80);
	background-color: white;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.navLearnButton:hover{
	background-color: var(--white-gray250);
	border-radius: 20px;
}

.textMain4{
	width: 94%;
    height: 100px;
    border: none;
	margin:auto;
	margin-top: 40px;
	display: flex;
	align-items: center;
    font-family: "ReadexBold";
    font-size: clamp(24px, 4.5vw, 40px);
    color:var(--dark-blue-black);
	text-align: left;
}

.subText4{
	width: 94%;
    height: 20px;
    border: none;
	margin:auto;
	display: flex;
	align-items: center;
    font-family: "Readex";
    font-size: 16px;
    color:var(--main-blue);
	text-align: left;
	cursor: pointer;
	margin-bottom: 80px;
}

.blockOuter{
	height: 370px;
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
	font-family: "Readex";
    font-size: 0.8rem;
	width: 100%;
}

.innerBlock{
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: start;
    width: 50%;
    height: 160px;
}

.innerBlockTitle{
	height: 50px;
	display: flex;
	align-items: center;
	padding-left: 50px;
	margin-top: 20px;
	width: 100%;
}

.innerBlockHeader{
	display: flex;
	align-items: center;
	padding-left: 20px;
	padding-right: 40px;
	width: 100%;
	height: 100%;
	color: var(--dark-blue-black);
	font-family: "ReadexBold";
    font-size: 16px;
}

.innerBlockText{
	display: flex;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 10px;
	width: 100%;
	font-family: "ReadexLight";
    font-size: clamp(11px, 1.5vw, 14px);
	line-height: 1.6;
    color:var(--light-blue-black);
}

.usersOuter{
	height: 200px;
	align-items: center;
    flex-wrap: wrap;
	width: 100%;
	background-color: rgb(244,244,246);
}

.usersDiv{
	width: clamp(200px,96%,1000px);
	margin-left: auto;
    margin-right: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
	flex-wrap: wrap;
}

.usersInner{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding-left: 40px;
	margin-top: 20px;
	padding-right: 40px;
	height: 60px;
	font-family: "ReadexLight";
    font-size: clamp(14px, 1.5vw, 18px);
	color: var(--dark-blue-black);
}

.usersInnerMobile{
	display: none;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding-left: 40px;
	margin-top: 20px;
	padding-right: 40px;
	height: 60px;
	font-family: "Readex";
	text-align: center;
    font-size: 12px;
	color: var(--dark-blue-black);
}

.boldedInner{
	font-family: "ReadexBold";
	text-decoration: underline var(--dark-blue-black);
	color: var(--dark-blue-black);
}

.logosOuter{
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	margin-top: 12px;
}

@media (max-width: 728px) {

	.blockOuter{
		height: 670px;
		width: 90%;
		margin: auto;
	}

	.usersInner{
		display: none;
	}

	.usersInnerMobile{
		display:flex;
	}

	.innerBlock{
		width: 100%;
	}

	.textMain4{
		width: 70%;
	}
	
	.subText4{
		width: 70%;
	}

	.images1 {
		width: 140px;
	}
	
	.images2 {
		width: 140px;
	}
	
	.images3 {
		width: 120px;
	}
}

@media (max-width: 500px){
	.logosOuter{
		flex-direction: column;
		align-items: center;
		height: 220px;
	}

	.usersOuter{
		height: 340px;
	}


	.images1 {
		width: 180px;
	}
	
	.images2 {
		width: 180px;
	}
	
	.images3 {
		width: 140px;
	}
}