.editCollectionTable{
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-family: "Readex";
    font-size: 12px;
    color: rgb(85, 85, 85);
}

.editTableForm{
    margin: 0 0 0 0;
    width: 90%;
}

.enormalRowTd{
    border-right: 1px solid rgb(240, 240, 240);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
}

.editTable th {
    text-align: left;
}

.editTable{
    margin: 0 0 0 0;
    width: 100%;
    border-collapse: collapse;
    font-size: clamp(8px, 2.5vw, 12px);
    table-layout: fixed;
}

.editquestionColumn {
    width: 47%;
}

.editanswerColumn {
    width: 47%;
}

.editdeleteColumn {
    width: 6%;
}

.eboldRow {
    font-family: "ReadexBold";
    position: relative;
    color: rgb(105, 105, 105);
    border-radius: 2px;
    border-bottom: 1px solid rgb(105, 105, 105);
    border-left: 1px solid rgb(105, 105, 105);
    border-top: 1px solid rgb(105, 105, 105);
}

.eheaderRow{
    vertical-align: middle;
    border-right: 1px solid rgb(105, 105, 105);
    padding-left: 6px;
    padding-right: 6px;
}

.etdText{
    align-items: center;
    display: flex;
    height: 30px;
}

.editDelIcon{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delButton{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 2px;
}

.delButton:hover{
    background-color: rgb(240, 240, 240);
}

.inputspan{
    display: block;
    padding: 4px 4px;
    width: 100%;
    overflow: hidden;
    min-height: 30px;
    line-height: 20px;
    border: 1px solid rgb(240, 240, 240);
}

.enormalRevealRow {
    border-bottom: 1px solid rgb(240, 240, 240);
    border-top: 1px solid rgb(240, 240, 240);
    border-left: 1px solid rgb(240, 240, 240);
}

.aboveTableContainer{
    height: 30px;
    width: 100%;
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
    font-family: "ReadexBold";
    font-size: 10px;
    color: rgb(85, 85, 85);
}

.belowTableContainer{
    height: 30px;
    width: 100%;
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    font-family: "ReadexBold";
    font-size: 10px;
    color: rgb(85, 85, 85);
}

.submitButton{
    display: flex;
    height: 100%;
    width: 100px;
    background-color: #2f6dff9c;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.cancelChanges{
    display: flex;
    height: 100%;
    width: 100px;
    margin-left: 4px;
    background-color: rgba(240, 240, 240, 0.5);
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.submitButton:hover{
    background-color: #2f6effe1;
}

.cancelChanges:hover{
    background-color: rgb(240, 240, 240);
}

.addAnotherRowContainer{
    height: 30px;
    width: 100%;
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: "ReadexBold";
    font-size: 10px;
    color: rgb(85, 85, 85);
}

.addRowButton{
    display: flex;
    height: 100%;
    width: 100%;
    margin-left: 4px;
    background-color: rgba(240, 240, 240, 0.5);
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.addRowButton:hover{
    background-color: rgb(240, 240, 240);
}