.containerMain {
  width: clamp(200px,96%,800px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 50px;
  padding-bottom: 0px;
  z-index: 2;
  background-color: rgba(255, 255, 255,0);
}
  
.setAreaContainer {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-left: 0%;
  padding-right: 0%;
  z-index: 2;
  background-color: white;
  border-radius: 8px;
  border: 2px solid rgb(241, 241, 241);
  height: 100%;
}

.setAreaLoadingOuter{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 300px;
}

.setAreaOuter{
  overflow: hidden;
}

.emptyCont{
    height: 40px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}
  
.setName {
  padding-left: 3%;
  float:left;
  padding-right: 5%;
  font-family: "ReadexBold";
  font-size: clamp(20px, 5.5vw, 25px);
  color: var(--dark-blue-black);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.setNameText{
	margin-right: 24px;
}

.setNameIconButton{
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin-left: 18px;
	margin: auto;
	font-size: 10px;
	height: 25px;
	width: 75px;
	border-radius: 8px;
	color: var(--main-gray80);
	background-color: white;
	border: 2px solid var(--white-gray240);
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.setNameIconButtonSaved{
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin-left: 18px;
	margin: auto;
	font-size: 10px;
	height: 25px;
	width: 75px;
	border-radius: 12px;
	color: white;
	background-color: var(--main-blue75);
  }

.setNameIconButton:hover{
  	background-color: var(--white-gray250);
	  border-radius: 14px;
}

.setNameIconButtonSaved:hover{
	background-color: var(--main-blue);
}

.setProgress {
  position: relative;
  font-family: "ReadexBold";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  float:right;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  margin-right: 3%;
  margin-top: 0px;
  background-color: var(--main-blue85);
}

.setInfo {
  padding-top: 4px;
  padding-left: 3%;
  padding-right: 5%;
  font-family: "Readex";
  font-size: 12px;
  color: var(--light-blue-black);
  clear: left;
}

.setInfoContainer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border: 2px solid rgb(241, 241, 241);
}

.selectorBar {
  height: 40px;
  border-bottom: 1px solid #d4d4d4;
  display: flex;
  width: clamp(200px,100%,800px);
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 0px;
  z-index: 8;
}

.selectorBarItem {
  width: clamp(20%,20%,25%);
  font-family: "ReadexBold";
  font-size: clamp(9px, 1.5vw, 11px);
  color: var(--dark-blue-black);
  cursor: pointer;
  text-align: center;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.selectorBarItemText{
  display: flex;
  justify-content: center;
  height: 100%;
  padding-left: 5%;
  padding-right: 8%;
  align-items: center;
}

.selectorBarItemIcon{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.selectorBarItem:hover {
  box-shadow: inset 0 -4px 0 0 var(--main-blue);
}

.selectorBarItemSelected {
  width: clamp(20%,20%,25%);
  font-family: "ReadexBold";
  font-size: clamp(9px, 1.5vw, 11px);
  color: var(--main-blue);
  box-shadow: inset 0px -4px 0 0 var(--main-blue);
  cursor: pointer;
  text-align: center;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width: 500px) {
  .selectorBarItemIcon{
    display: none;
  }

  .setProgress{
    display: none;
  }
}

@media (max-width: 340px) {
  .innerSetNameText{
    display: none;
  }
  .setNameIcon{
    margin-top: 6px;
  }
}