@font-face {
  font-family: 'Readex';
  src: local('ReadexPro-Regular'), url(./Fonts/ReadexPro-Regular.woff) format('woff');
}

@font-face {
font-family: 'ReadexLight';
src: local('ReadexPro-Light'), url(./Fonts/ReadexPro-Light.woff) format('woff');
}

@font-face {
  font-family: 'ReadexBold';
  src: local('ReadexPro-Bold'), url(./Fonts/ReadexPro-Bold.woff) format('woff');
}

body {
  background-color: rgb(242, 245, 250);
  padding-left: 0%;
  margin: 0;
  min-width:400px;
  width: auto !important;
  width:400px;
}

p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.containerMain {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 80px;
  z-index: 2;
  background-color: rgb(255, 255, 255);
}

.cardcontainer {
  position: relative;
  width: 450px;
  height: 280px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 1;
}

.setName {
  padding-left: 40px;
  font-family: "ReadexBold";
  font-size: 25px;
  color: rgb(78, 78, 78);
}

.setInfo {
  padding-top: 4px;
  padding-left: 40px;
  font-family: "Readex";
  font-size: 12px;
  color: rgb(104, 104, 104);
}

.setContents {
  width: 800px;
  height: 1500px;
  margin: auto;
  margin-top: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid #bbbbbb;
}