@font-face {
  font-family: 'Readex';
  src: local('ReadexPro-Regular'), url(./Fonts/ReadexPro-Regular.woff) format('woff');
}

@font-face {
font-family: 'ReadexLight';
src: local('ReadexPro-Light'), url(./Fonts/ReadexPro-Light.woff) format('woff');
}

@font-face {
  font-family: 'ReadexBold';
  src: local('ReadexPro-Bold'), url(./Fonts/ReadexPro-Bold.woff) format('woff');
}

p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.containerMain {
  width: clamp(200px,96%,800px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 50px;
  padding-bottom: 10px;
  z-index: 2;
  background-color: rgb(242, 245, 250);
}

.cardcontainer2 {
  position: relative;
  width: 450px;
  height: 280px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 1;
}

.setAreaContainer {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-left: 0%;
  padding-right: 0%;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  height: 800px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.setAreaOuter{
  min-height: calc(85vh - 50px);
}

.setName {
  padding-left: 3%;
  float:left;
  padding-right: 5%;
  font-family: "ReadexBold";
  font-size: clamp(20px, 5.5vw, 25px);;
  color: rgb(78, 78, 78);
}

.setProgress {
  position: relative;
  font-family: "Readex";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: rgb(78, 78, 78);
  float:right;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  margin-right: 3%;
  margin-top: 0px;
  background-color: rgb(109, 230, 139);
}

.setInfo {
  padding-top: 4px;
  padding-left: 3%;
  padding-right: 5%;
  font-family: "Readex";
  font-size: 12px;
  color: rgb(104, 104, 104);
  clear: left;
}

.setInfoContainer {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.setStatisticsTable {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  font-family: "Readex";
  font-size: 12px;
  color: rgb(85, 85, 85);
}

.selectorBar {
  height: 40px;
  border-bottom: 1px solid #d4d4d4;
  display: flex;
  width: clamp(200px,100%,800px);
  justify-content: space-between;
  align-items: stretch;
  padding: 0 0px;
  z-index: 8;
}

.selectorBarItem {
  width: 100%;
  font-family: "Readex";
  font-size: clamp(10px, 2.5vw, 13px);
  color: rgb(92, 92, 92);
  cursor: pointer;
  text-align: center;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.selectorBarItemText{
  display: flex;
  justify-content: center;
  height: 100%;
  padding-left: 8%;
  padding-right: 8%;
  align-items: center;
}

.selectorBarItemIcon{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.selectorBarItem:hover {
  box-shadow: inset 0 -3px 0 0 rgba(41, 116, 255, 0.801);
}

.selectorBarItemSelected {
  width: 100%;
  font-family: "Readex";
  font-size: clamp(10px, 2.5vw, 13px);
  color: rgba(41, 116, 255, 1.0);
  box-shadow: inset 0 -3px 0 0 rgba(41, 116, 255, 0.801);
  cursor: pointer;
  text-align: center;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardcontainer {
  position: relative;
  width: clamp(250px,90%,450px);
  aspect-ratio: 45 / 28;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 2px;
  z-index: 1;
}

.aboveCard{
  font-family: "ReadexLight";
  font-size: 12px;
  color: rgb(155, 155, 155);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.aboveCardInner{
  width: clamp(250px,90%,450px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.belowCard{
  font-family: "ReadexBold";
  font-size: 12px;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 14px;
  margin-bottom: 5px;
}

.belowCardInner{
  width: clamp(250px,90%,450px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedButtonNeg{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32%;
  height: 100%;
  background-color: rgb(228, 109, 109, 0.5);
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.feedButtonNeut{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32%;
  height: 100%;
  background-color: rgba(241, 241, 241, 0.5);
  cursor: pointer;
  color: rgb(58, 58, 58);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.feedButtonPos{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32%;
  height: 100%;
  background-color: rgb(109, 230, 139, 0.5);
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.feedButtonNeg:hover{
  background-color: rgb(228, 109, 109, 1.0);
}

.feedButtonNeut:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(58, 58, 58);
}

.feedButtonPos:hover{
  background-color: rgb(109, 230, 139, 1.0);
}

.randomOrder{
  display: flex;
}

.checkBoxStyle{
  accent-color: #5787ee;
}

@media (max-width: 500px) {
  .selectorBarItemIcon{
    display: none;
  }

  .setProgress{
    display: none;
  }
}

body {
  background-color: rgb(242, 245, 250);
  background-size: contain;
  padding-left: 0%;
  margin: 0;
  min-width:200px;
  height: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1440' preserveAspectRatio='none' viewBox='0 0 1440 1440'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3crect width='1440' height='1440' x='0' y='0' fill='rgba(242%2c 245%2c 250%2c 1)'%3e%3c/rect%3e%3cpath d='M125.09 314.34L185.72 349.34L185.72 419.34L125.09 454.34L64.47 419.34L64.47 349.34zM64.47 419.34L125.09 454.34L125.09 524.34L64.47 559.34L3.85 524.34L3.85 454.34zM125.09 734.34L185.72 769.34L185.72 839.34L125.09 874.34L64.47 839.34L64.47 769.34zM246.34 524.34L306.96 559.34L306.96 629.34L246.34 664.34L185.72 629.34L185.72 559.34zM367.59 314.34L428.21 349.34L428.21 419.34L367.59 454.34L306.96 419.34L306.96 349.34zM306.96 419.34L367.59 454.34L367.59 524.34L306.96 559.34L246.34 524.34L246.34 454.34zM367.59 524.34L428.21 559.34L428.21 629.34L367.59 664.34L306.96 629.34L306.96 559.34zM367.59 734.34L428.21 769.34L428.21 839.34L367.59 874.34L306.96 839.34L306.96 769.34zM488.83 104.34L549.46 139.34L549.46 209.34L488.83 244.34L428.21 209.34L428.21 139.34zM488.83 524.34L549.46 559.34L549.46 629.34L488.83 664.34L428.21 629.34L428.21 559.34zM428.21 1469.34L488.83 1504.34L488.83 1574.34L428.21 1609.34L367.59 1574.34L367.59 1504.34zM549.46 629.34L610.08 664.34L610.08 734.34L549.46 769.34L488.83 734.34L488.83 664.34zM610.08 734.34L670.71 769.34L670.71 839.34L610.08 874.34L549.46 839.34L549.46 769.34zM549.46 1259.34L610.08 1294.34L610.08 1364.34L549.46 1399.34L488.83 1364.34L488.83 1294.34zM791.95 839.34L852.58 874.34L852.58 944.34L791.95 979.34L731.33 944.34L731.33 874.34zM913.2 629.34L973.82 664.34L973.82 734.34L913.2 769.34L852.58 734.34L852.58 664.34zM1034.45 209.34L1095.07 244.34L1095.07 314.34L1034.45 349.34L973.82 314.34L973.82 244.34zM1095.07 314.34L1155.69 349.34L1155.69 419.34L1095.07 454.34L1034.45 419.34L1034.45 349.34zM1034.45 629.34L1095.07 664.34L1095.07 734.34L1034.45 769.34L973.82 734.34L973.82 664.34zM1095.07 944.34L1155.69 979.34L1155.69 1049.34L1095.07 1084.34L1034.45 1049.34L1034.45 979.34zM1034.45 1049.34L1095.07 1084.34L1095.07 1154.34L1034.45 1189.34L973.82 1154.34L973.82 1084.34zM1216.32 524.34L1276.94 559.34L1276.94 629.34L1216.32 664.34L1155.69 629.34L1155.69 559.34zM1155.69 1049.34L1216.32 1084.34L1216.32 1154.34L1155.69 1189.34L1095.07 1154.34L1095.07 1084.34zM1398.19 209.34L1458.81 244.34L1458.81 314.34L1398.19 349.34L1337.56 314.34L1337.56 244.34z' stroke='rgba(209%2c 212%2c 218%2c 0.15)' stroke-width='2'%3e%3c/path%3e%3cpath d='M118.09 314.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM178.72 349.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM178.72 419.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM118.09 454.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM57.47 419.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM57.47 349.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM118.09 524.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM57.47 559.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM-3.15 524.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM-3.15 454.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM118.09 734.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM178.72 769.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM178.72 839.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM118.09 874.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM57.47 839.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM57.47 769.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM239.34 524.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM299.96 559.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM299.96 629.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM239.34 664.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM178.72 629.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM178.72 559.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM360.59 314.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM421.21 349.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM421.21 419.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM360.59 454.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM299.96 419.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM299.96 349.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM360.59 524.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM239.34 454.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM421.21 559.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM421.21 629.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM360.59 664.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM360.59 734.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM421.21 769.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM421.21 839.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM360.59 874.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM299.96 839.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM299.96 769.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM481.83 104.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM542.46 139.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM542.46 209.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM481.83 244.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM421.21 209.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM421.21 139.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM481.83 524.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM542.46 559.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM542.46 629.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM481.83 664.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM421.21 1469.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM481.83 1504.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM481.83 1574.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM421.21 1609.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM360.59 1574.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM360.59 1504.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM603.08 664.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM603.08 734.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM542.46 769.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM481.83 734.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM663.71 769.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM663.71 839.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM603.08 874.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM542.46 839.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM542.46 1259.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM603.08 1294.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM603.08 1364.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM542.46 1399.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM481.83 1364.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM481.83 1294.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM784.95 839.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM845.58 874.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM845.58 944.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM784.95 979.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM724.33 944.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM724.33 874.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM906.2 629.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM966.82 664.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM966.82 734.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM906.2 769.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM845.58 734.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM845.58 664.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1027.45 209.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1088.07 244.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1088.07 314.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1027.45 349.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM966.82 314.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM966.82 244.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1148.69 349.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1148.69 419.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1088.07 454.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1027.45 419.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1027.45 629.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1088.07 664.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1088.07 734.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1027.45 769.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1088.07 944.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1148.69 979.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1148.69 1049.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1088.07 1084.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1027.45 1049.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1027.45 979.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1088.07 1154.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1027.45 1189.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM966.82 1154.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM966.82 1084.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1209.32 524.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1269.94 559.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1269.94 629.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1209.32 664.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1148.69 629.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1148.69 559.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1209.32 1084.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1209.32 1154.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1148.69 1189.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1391.19 209.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1451.81 244.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1451.81 314.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1391.19 349.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1330.56 314.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0zM1330.56 244.34 a7 7 0 1 0 14 0 a7 7 0 1 0 -14 0z' fill='rgba(209%2c 212%2c 218%2c 0.15)'%3e%3c/path%3e%3cpath d='M29.8 -6.34L60.98 11.66L60.98 47.66L29.8 65.66L-1.38 47.66L-1.38 11.66zM60.98 47.66L92.16 65.66L92.16 101.66L60.98 119.66L29.8 101.66L29.8 65.66zM60.98 263.66L92.16 281.66L92.16 317.66L60.98 335.66L29.8 317.66L29.8 281.66zM60.98 371.66L92.16 389.66L92.16 425.66L60.98 443.66L29.8 425.66L29.8 389.66zM29.8 425.66L60.98 443.66L60.98 479.66L29.8 497.66L-1.38 479.66L-1.38 443.66zM60.98 479.66L92.16 497.66L92.16 533.66L60.98 551.66L29.8 533.66L29.8 497.66zM29.8 641.66L60.98 659.66L60.98 695.66L29.8 713.66L-1.38 695.66L-1.38 659.66zM60.98 695.66L92.16 713.66L92.16 749.66L60.98 767.66L29.8 749.66L29.8 713.66zM29.8 749.66L60.98 767.66L60.98 803.66L29.8 821.66L-1.38 803.66L-1.38 767.66zM60.98 803.66L92.16 821.66L92.16 857.66L60.98 875.66L29.8 857.66L29.8 821.66zM29.8 857.66L60.98 875.66L60.98 911.66L29.8 929.66L-1.38 911.66L-1.38 875.66zM29.8 965.66L60.98 983.66L60.98 1019.66L29.8 1037.66L-1.38 1019.66L-1.38 983.66zM29.8 1073.66L60.98 1091.66L60.98 1127.66L29.8 1145.66L-1.38 1127.66L-1.38 1091.66zM29.8 1397.66L60.98 1415.66L60.98 1451.66L29.8 1469.66L-1.38 1451.66L-1.38 1415.66zM92.16 425.66L123.33 443.66L123.33 479.66L92.16 497.66L60.98 479.66L60.98 443.66zM123.33 479.66L154.51 497.66L154.51 533.66L123.33 551.66L92.16 533.66L92.16 497.66zM123.33 587.66L154.51 605.66L154.51 641.66L123.33 659.66L92.16 641.66L92.16 605.66zM92.16 857.66L123.33 875.66L123.33 911.66L92.16 929.66L60.98 911.66L60.98 875.66zM123.33 911.66L154.51 929.66L154.51 965.66L123.33 983.66L92.16 965.66L92.16 929.66zM123.33 1019.66L154.51 1037.66L154.51 1073.66L123.33 1091.66L92.16 1073.66L92.16 1037.66zM123.33 1127.66L154.51 1145.66L154.51 1181.66L123.33 1199.66L92.16 1181.66L92.16 1145.66zM123.33 1451.66L154.51 1469.66L154.51 1505.66L123.33 1523.66L92.16 1505.66L92.16 1469.66zM154.51 209.66L185.69 227.66L185.69 263.66L154.51 281.66L123.33 263.66L123.33 227.66zM185.69 263.66L216.87 281.66L216.87 317.66L185.69 335.66L154.51 317.66L154.51 281.66zM154.51 317.66L185.69 335.66L185.69 371.66L154.51 389.66L123.33 371.66L123.33 335.66zM185.69 479.66L216.87 497.66L216.87 533.66L185.69 551.66L154.51 533.66L154.51 497.66zM154.51 857.66L185.69 875.66L185.69 911.66L154.51 929.66L123.33 911.66L123.33 875.66zM185.69 911.66L216.87 929.66L216.87 965.66L185.69 983.66L154.51 965.66L154.51 929.66zM185.69 1019.66L216.87 1037.66L216.87 1073.66L185.69 1091.66L154.51 1073.66L154.51 1037.66zM154.51 1073.66L185.69 1091.66L185.69 1127.66L154.51 1145.66L123.33 1127.66L123.33 1091.66zM185.69 1235.66L216.87 1253.66L216.87 1289.66L185.69 1307.66L154.51 1289.66L154.51 1253.66zM216.87 -6.34L248.04 11.66L248.04 47.66L216.87 65.66L185.69 47.66L185.69 11.66zM248.04 47.66L279.22 65.66L279.22 101.66L248.04 119.66L216.87 101.66L216.87 65.66zM216.87 641.66L248.04 659.66L248.04 695.66L216.87 713.66L185.69 695.66L185.69 659.66zM248.04 803.66L279.22 821.66L279.22 857.66L248.04 875.66L216.87 857.66L216.87 821.66zM216.87 857.66L248.04 875.66L248.04 911.66L216.87 929.66L185.69 911.66L185.69 875.66zM248.04 1019.66L279.22 1037.66L279.22 1073.66L248.04 1091.66L216.87 1073.66L216.87 1037.66zM248.04 1127.66L279.22 1145.66L279.22 1181.66L248.04 1199.66L216.87 1181.66L216.87 1145.66zM216.87 1181.66L248.04 1199.66L248.04 1235.66L216.87 1253.66L185.69 1235.66L185.69 1199.66zM248.04 1235.66L279.22 1253.66L279.22 1289.66L248.04 1307.66L216.87 1289.66L216.87 1253.66zM279.22 -6.34L310.4 11.66L310.4 47.66L279.22 65.66L248.04 47.66L248.04 11.66zM310.4 155.66L341.58 173.66L341.58 209.66L310.4 227.66L279.22 209.66L279.22 173.66zM310.4 371.66L341.58 389.66L341.58 425.66L310.4 443.66L279.22 425.66L279.22 389.66zM279.22 425.66L310.4 443.66L310.4 479.66L279.22 497.66L248.04 479.66L248.04 443.66zM310.4 479.66L341.58 497.66L341.58 533.66L310.4 551.66L279.22 533.66L279.22 497.66zM310.4 587.66L341.58 605.66L341.58 641.66L310.4 659.66L279.22 641.66L279.22 605.66zM310.4 695.66L341.58 713.66L341.58 749.66L310.4 767.66L279.22 749.66L279.22 713.66zM279.22 749.66L310.4 767.66L310.4 803.66L279.22 821.66L248.04 803.66L248.04 767.66zM279.22 857.66L310.4 875.66L310.4 911.66L279.22 929.66L248.04 911.66L248.04 875.66zM310.4 911.66L341.58 929.66L341.58 965.66L310.4 983.66L279.22 965.66L279.22 929.66zM279.22 1073.66L310.4 1091.66L310.4 1127.66L279.22 1145.66L248.04 1127.66L248.04 1091.66zM279.22 1289.66L310.4 1307.66L310.4 1343.66L279.22 1361.66L248.04 1343.66L248.04 1307.66zM310.4 1451.66L341.58 1469.66L341.58 1505.66L310.4 1523.66L279.22 1505.66L279.22 1469.66zM372.76 47.66L403.93 65.66L403.93 101.66L372.76 119.66L341.58 101.66L341.58 65.66zM341.58 101.66L372.76 119.66L372.76 155.66L341.58 173.66L310.4 155.66L310.4 119.66zM372.76 155.66L403.93 173.66L403.93 209.66L372.76 227.66L341.58 209.66L341.58 173.66zM372.76 263.66L403.93 281.66L403.93 317.66L372.76 335.66L341.58 317.66L341.58 281.66zM341.58 317.66L372.76 335.66L372.76 371.66L341.58 389.66L310.4 371.66L310.4 335.66zM372.76 371.66L403.93 389.66L403.93 425.66L372.76 443.66L341.58 425.66L341.58 389.66zM372.76 587.66L403.93 605.66L403.93 641.66L372.76 659.66L341.58 641.66L341.58 605.66zM341.58 749.66L372.76 767.66L372.76 803.66L341.58 821.66L310.4 803.66L310.4 767.66zM372.76 803.66L403.93 821.66L403.93 857.66L372.76 875.66L341.58 857.66L341.58 821.66zM341.58 965.66L372.76 983.66L372.76 1019.66L341.58 1037.66L310.4 1019.66L310.4 983.66zM372.76 1019.66L403.93 1037.66L403.93 1073.66L372.76 1091.66L341.58 1073.66L341.58 1037.66zM341.58 1181.66L372.76 1199.66L372.76 1235.66L341.58 1253.66L310.4 1235.66L310.4 1199.66zM372.76 1235.66L403.93 1253.66L403.93 1289.66L372.76 1307.66L341.58 1289.66L341.58 1253.66zM372.76 1451.66L403.93 1469.66L403.93 1505.66L372.76 1523.66L341.58 1505.66L341.58 1469.66zM435.11 155.66L466.29 173.66L466.29 209.66L435.11 227.66L403.93 209.66L403.93 173.66zM403.93 317.66L435.11 335.66L435.11 371.66L403.93 389.66L372.76 371.66L372.76 335.66zM435.11 371.66L466.29 389.66L466.29 425.66L435.11 443.66L403.93 425.66L403.93 389.66zM403.93 533.66L435.11 551.66L435.11 587.66L403.93 605.66L372.76 587.66L372.76 551.66zM435.11 587.66L466.29 605.66L466.29 641.66L435.11 659.66L403.93 641.66L403.93 605.66zM403.93 857.66L435.11 875.66L435.11 911.66L403.93 929.66L372.76 911.66L372.76 875.66zM403.93 1073.66L435.11 1091.66L435.11 1127.66L403.93 1145.66L372.76 1127.66L372.76 1091.66zM435.11 1127.66L466.29 1145.66L466.29 1181.66L435.11 1199.66L403.93 1181.66L403.93 1145.66zM403.93 1289.66L435.11 1307.66L435.11 1343.66L403.93 1361.66L372.76 1343.66L372.76 1307.66zM435.11 1343.66L466.29 1361.66L466.29 1397.66L435.11 1415.66L403.93 1397.66L403.93 1361.66zM466.29 -6.34L497.47 11.66L497.47 47.66L466.29 65.66L435.11 47.66L435.11 11.66zM497.47 47.66L528.64 65.66L528.64 101.66L497.47 119.66L466.29 101.66L466.29 65.66zM466.29 101.66L497.47 119.66L497.47 155.66L466.29 173.66L435.11 155.66L435.11 119.66zM497.47 263.66L528.64 281.66L528.64 317.66L497.47 335.66L466.29 317.66L466.29 281.66zM497.47 479.66L528.64 497.66L528.64 533.66L497.47 551.66L466.29 533.66L466.29 497.66zM466.29 533.66L497.47 551.66L497.47 587.66L466.29 605.66L435.11 587.66L435.11 551.66zM497.47 695.66L528.64 713.66L528.64 749.66L497.47 767.66L466.29 749.66L466.29 713.66zM466.29 749.66L497.47 767.66L497.47 803.66L466.29 821.66L435.11 803.66L435.11 767.66zM497.47 803.66L528.64 821.66L528.64 857.66L497.47 875.66L466.29 857.66L466.29 821.66zM497.47 1019.66L528.64 1037.66L528.64 1073.66L497.47 1091.66L466.29 1073.66L466.29 1037.66zM528.64 641.66L559.82 659.66L559.82 695.66L528.64 713.66L497.47 695.66L497.47 659.66zM559.82 695.66L591 713.66L591 749.66L559.82 767.66L528.64 749.66L528.64 713.66zM528.64 857.66L559.82 875.66L559.82 911.66L528.64 929.66L497.47 911.66L497.47 875.66zM559.82 911.66L591 929.66L591 965.66L559.82 983.66L528.64 965.66L528.64 929.66zM528.64 965.66L559.82 983.66L559.82 1019.66L528.64 1037.66L497.47 1019.66L497.47 983.66zM528.64 1073.66L559.82 1091.66L559.82 1127.66L528.64 1145.66L497.47 1127.66L497.47 1091.66zM559.82 1235.66L591 1253.66L591 1289.66L559.82 1307.66L528.64 1289.66L528.64 1253.66zM528.64 1289.66L559.82 1307.66L559.82 1343.66L528.64 1361.66L497.47 1343.66L497.47 1307.66zM528.64 1397.66L559.82 1415.66L559.82 1451.66L528.64 1469.66L497.47 1451.66L497.47 1415.66zM591 209.66L622.18 227.66L622.18 263.66L591 281.66L559.82 263.66L559.82 227.66zM622.18 263.66L653.36 281.66L653.36 317.66L622.18 335.66L591 317.66L591 281.66zM591 425.66L622.18 443.66L622.18 479.66L591 497.66L559.82 479.66L559.82 443.66zM622.18 479.66L653.36 497.66L653.36 533.66L622.18 551.66L591 533.66L591 497.66zM622.18 587.66L653.36 605.66L653.36 641.66L622.18 659.66L591 641.66L591 605.66zM591 749.66L622.18 767.66L622.18 803.66L591 821.66L559.82 803.66L559.82 767.66zM591 857.66L622.18 875.66L622.18 911.66L591 929.66L559.82 911.66L559.82 875.66zM622.18 911.66L653.36 929.66L653.36 965.66L622.18 983.66L591 965.66L591 929.66zM591 965.66L622.18 983.66L622.18 1019.66L591 1037.66L559.82 1019.66L559.82 983.66zM622.18 1019.66L653.36 1037.66L653.36 1073.66L622.18 1091.66L591 1073.66L591 1037.66zM622.18 1235.66L653.36 1253.66L653.36 1289.66L622.18 1307.66L591 1289.66L591 1253.66zM591 1397.66L622.18 1415.66L622.18 1451.66L591 1469.66L559.82 1451.66L559.82 1415.66zM622.18 1451.66L653.36 1469.66L653.36 1505.66L622.18 1523.66L591 1505.66L591 1469.66zM684.53 47.66L715.71 65.66L715.71 101.66L684.53 119.66L653.36 101.66L653.36 65.66zM684.53 155.66L715.71 173.66L715.71 209.66L684.53 227.66L653.36 209.66L653.36 173.66zM653.36 209.66L684.53 227.66L684.53 263.66L653.36 281.66L622.18 263.66L622.18 227.66zM653.36 317.66L684.53 335.66L684.53 371.66L653.36 389.66L622.18 371.66L622.18 335.66zM653.36 425.66L684.53 443.66L684.53 479.66L653.36 497.66L622.18 479.66L622.18 443.66zM684.53 479.66L715.71 497.66L715.71 533.66L684.53 551.66L653.36 533.66L653.36 497.66zM684.53 587.66L715.71 605.66L715.71 641.66L684.53 659.66L653.36 641.66L653.36 605.66zM653.36 641.66L684.53 659.66L684.53 695.66L653.36 713.66L622.18 695.66L622.18 659.66zM653.36 857.66L684.53 875.66L684.53 911.66L653.36 929.66L622.18 911.66L622.18 875.66zM653.36 1073.66L684.53 1091.66L684.53 1127.66L653.36 1145.66L622.18 1127.66L622.18 1091.66zM684.53 1127.66L715.71 1145.66L715.71 1181.66L684.53 1199.66L653.36 1181.66L653.36 1145.66zM653.36 1181.66L684.53 1199.66L684.53 1235.66L653.36 1253.66L622.18 1235.66L622.18 1199.66zM684.53 1235.66L715.71 1253.66L715.71 1289.66L684.53 1307.66L653.36 1289.66L653.36 1253.66zM653.36 1289.66L684.53 1307.66L684.53 1343.66L653.36 1361.66L622.18 1343.66L622.18 1307.66zM653.36 1397.66L684.53 1415.66L684.53 1451.66L653.36 1469.66L622.18 1451.66L622.18 1415.66zM746.89 47.66L778.07 65.66L778.07 101.66L746.89 119.66L715.71 101.66L715.71 65.66zM715.71 101.66L746.89 119.66L746.89 155.66L715.71 173.66L684.53 155.66L684.53 119.66zM746.89 263.66L778.07 281.66L778.07 317.66L746.89 335.66L715.71 317.66L715.71 281.66zM746.89 371.66L778.07 389.66L778.07 425.66L746.89 443.66L715.71 425.66L715.71 389.66zM715.71 425.66L746.89 443.66L746.89 479.66L715.71 497.66L684.53 479.66L684.53 443.66zM746.89 479.66L778.07 497.66L778.07 533.66L746.89 551.66L715.71 533.66L715.71 497.66zM715.71 533.66L746.89 551.66L746.89 587.66L715.71 605.66L684.53 587.66L684.53 551.66zM746.89 695.66L778.07 713.66L778.07 749.66L746.89 767.66L715.71 749.66L715.71 713.66zM715.71 749.66L746.89 767.66L746.89 803.66L715.71 821.66L684.53 803.66L684.53 767.66zM746.89 803.66L778.07 821.66L778.07 857.66L746.89 875.66L715.71 857.66L715.71 821.66zM715.71 857.66L746.89 875.66L746.89 911.66L715.71 929.66L684.53 911.66L684.53 875.66zM715.71 965.66L746.89 983.66L746.89 1019.66L715.71 1037.66L684.53 1019.66L684.53 983.66zM715.71 1073.66L746.89 1091.66L746.89 1127.66L715.71 1145.66L684.53 1127.66L684.53 1091.66zM746.89 1343.66L778.07 1361.66L778.07 1397.66L746.89 1415.66L715.71 1397.66L715.71 1361.66zM809.25 263.66L840.42 281.66L840.42 317.66L809.25 335.66L778.07 317.66L778.07 281.66zM778.07 425.66L809.25 443.66L809.25 479.66L778.07 497.66L746.89 479.66L746.89 443.66zM809.25 479.66L840.42 497.66L840.42 533.66L809.25 551.66L778.07 533.66L778.07 497.66zM778.07 533.66L809.25 551.66L809.25 587.66L778.07 605.66L746.89 587.66L746.89 551.66zM809.25 695.66L840.42 713.66L840.42 749.66L809.25 767.66L778.07 749.66L778.07 713.66zM809.25 911.66L840.42 929.66L840.42 965.66L809.25 983.66L778.07 965.66L778.07 929.66zM809.25 1019.66L840.42 1037.66L840.42 1073.66L809.25 1091.66L778.07 1073.66L778.07 1037.66zM778.07 1073.66L809.25 1091.66L809.25 1127.66L778.07 1145.66L746.89 1127.66L746.89 1091.66zM809.25 1127.66L840.42 1145.66L840.42 1181.66L809.25 1199.66L778.07 1181.66L778.07 1145.66zM778.07 1289.66L809.25 1307.66L809.25 1343.66L778.07 1361.66L746.89 1343.66L746.89 1307.66zM809.25 1451.66L840.42 1469.66L840.42 1505.66L809.25 1523.66L778.07 1505.66L778.07 1469.66zM840.42 -6.34L871.6 11.66L871.6 47.66L840.42 65.66L809.24 47.66L809.24 11.66zM871.6 47.66L902.78 65.66L902.78 101.66L871.6 119.66L840.42 101.66L840.42 65.66zM840.42 209.66L871.6 227.66L871.6 263.66L840.42 281.66L809.24 263.66L809.24 227.66zM871.6 263.66L902.78 281.66L902.78 317.66L871.6 335.66L840.42 317.66L840.42 281.66zM871.6 1127.66L902.78 1145.66L902.78 1181.66L871.6 1199.66L840.42 1181.66L840.42 1145.66zM902.78 317.66L933.96 335.66L933.96 371.66L902.78 389.66L871.6 371.66L871.6 335.66zM933.96 371.66L965.13 389.66L965.13 425.66L933.96 443.66L902.78 425.66L902.78 389.66zM933.96 479.66L965.13 497.66L965.13 533.66L933.96 551.66L902.78 533.66L902.78 497.66zM933.96 587.66L965.13 605.66L965.13 641.66L933.96 659.66L902.78 641.66L902.78 605.66zM902.78 641.66L933.96 659.66L933.96 695.66L902.78 713.66L871.6 695.66L871.6 659.66zM902.78 857.66L933.96 875.66L933.96 911.66L902.78 929.66L871.6 911.66L871.6 875.66zM933.96 911.66L965.13 929.66L965.13 965.66L933.96 983.66L902.78 965.66L902.78 929.66zM902.78 965.66L933.96 983.66L933.96 1019.66L902.78 1037.66L871.6 1019.66L871.6 983.66zM933.96 1019.66L965.13 1037.66L965.13 1073.66L933.96 1091.66L902.78 1073.66L902.78 1037.66zM902.78 1073.66L933.96 1091.66L933.96 1127.66L902.78 1145.66L871.6 1127.66L871.6 1091.66zM933.96 1127.66L965.13 1145.66L965.13 1181.66L933.96 1199.66L902.78 1181.66L902.78 1145.66zM933.96 1235.66L965.13 1253.66L965.13 1289.66L933.96 1307.66L902.78 1289.66L902.78 1253.66zM902.78 1397.66L933.96 1415.66L933.96 1451.66L902.78 1469.66L871.6 1451.66L871.6 1415.66zM996.31 47.66L1027.49 65.66L1027.49 101.66L996.31 119.66L965.13 101.66L965.13 65.66zM965.13 101.66L996.31 119.66L996.31 155.66L965.13 173.66L933.96 155.66L933.96 119.66zM996.31 155.66L1027.49 173.66L1027.49 209.66L996.31 227.66L965.13 209.66L965.13 173.66zM996.31 263.66L1027.49 281.66L1027.49 317.66L996.31 335.66L965.13 317.66L965.13 281.66zM965.13 317.66L996.31 335.66L996.31 371.66L965.13 389.66L933.96 371.66L933.96 335.66zM996.31 371.66L1027.49 389.66L1027.49 425.66L996.31 443.66L965.13 425.66L965.13 389.66zM996.31 479.66L1027.49 497.66L1027.49 533.66L996.31 551.66L965.13 533.66L965.13 497.66zM996.31 803.66L1027.49 821.66L1027.49 857.66L996.31 875.66L965.13 857.66L965.13 821.66zM996.31 1019.66L1027.49 1037.66L1027.49 1073.66L996.31 1091.66L965.13 1073.66L965.13 1037.66zM965.13 1181.66L996.31 1199.66L996.31 1235.66L965.13 1253.66L933.96 1235.66L933.96 1199.66zM996.31 1343.66L1027.49 1361.66L1027.49 1397.66L996.31 1415.66L965.13 1397.66L965.13 1361.66zM1058.67 47.66L1089.85 65.66L1089.85 101.66L1058.67 119.66L1027.49 101.66L1027.49 65.66zM1058.67 155.66L1089.85 173.66L1089.85 209.66L1058.67 227.66L1027.49 209.66L1027.49 173.66zM1027.49 317.66L1058.67 335.66L1058.67 371.66L1027.49 389.66L996.31 371.66L996.31 335.66zM1058.67 371.66L1089.85 389.66L1089.85 425.66L1058.67 443.66L1027.49 425.66L1027.49 389.66zM1027.49 425.66L1058.67 443.66L1058.67 479.66L1027.49 497.66L996.31 479.66L996.31 443.66zM1058.67 479.66L1089.85 497.66L1089.85 533.66L1058.67 551.66L1027.49 533.66L1027.49 497.66zM1058.67 587.66L1089.85 605.66L1089.85 641.66L1058.67 659.66L1027.49 641.66L1027.49 605.66zM1027.49 749.66L1058.67 767.66L1058.67 803.66L1027.49 821.66L996.31 803.66L996.31 767.66zM1027.49 857.66L1058.67 875.66L1058.67 911.66L1027.49 929.66L996.31 911.66L996.31 875.66zM1058.67 911.66L1089.85 929.66L1089.85 965.66L1058.67 983.66L1027.49 965.66L1027.49 929.66zM1058.67 1019.66L1089.85 1037.66L1089.85 1073.66L1058.67 1091.66L1027.49 1073.66L1027.49 1037.66zM1058.67 1127.66L1089.85 1145.66L1089.85 1181.66L1058.67 1199.66L1027.49 1181.66L1027.49 1145.66zM1027.49 1289.66L1058.67 1307.66L1058.67 1343.66L1027.49 1361.66L996.31 1343.66L996.31 1307.66zM1058.67 1343.66L1089.85 1361.66L1089.85 1397.66L1058.67 1415.66L1027.49 1397.66L1027.49 1361.66zM1121.02 47.66L1152.2 65.66L1152.2 101.66L1121.02 119.66L1089.85 101.66L1089.85 65.66zM1121.02 479.66L1152.2 497.66L1152.2 533.66L1121.02 551.66L1089.85 533.66L1089.85 497.66zM1121.02 587.66L1152.2 605.66L1152.2 641.66L1121.02 659.66L1089.85 641.66L1089.85 605.66zM1121.02 1019.66L1152.2 1037.66L1152.2 1073.66L1121.02 1091.66L1089.85 1073.66L1089.85 1037.66zM1121.02 1127.66L1152.2 1145.66L1152.2 1181.66L1121.02 1199.66L1089.85 1181.66L1089.85 1145.66zM1089.85 1289.66L1121.02 1307.66L1121.02 1343.66L1089.85 1361.66L1058.67 1343.66L1058.67 1307.66zM1089.85 1397.66L1121.02 1415.66L1121.02 1451.66L1089.85 1469.66L1058.67 1451.66L1058.67 1415.66zM1121.02 1451.66L1152.2 1469.66L1152.2 1505.66L1121.02 1523.66L1089.85 1505.66L1089.85 1469.66zM1152.2 533.66L1183.38 551.66L1183.38 587.66L1152.2 605.66L1121.02 587.66L1121.02 551.66zM1152.2 641.66L1183.38 659.66L1183.38 695.66L1152.2 713.66L1121.02 695.66L1121.02 659.66zM1183.38 911.66L1214.56 929.66L1214.56 965.66L1183.38 983.66L1152.2 965.66L1152.2 929.66zM1183.38 1127.66L1214.56 1145.66L1214.56 1181.66L1183.38 1199.66L1152.2 1181.66L1152.2 1145.66zM1152.2 1289.66L1183.38 1307.66L1183.38 1343.66L1152.2 1361.66L1121.02 1343.66L1121.02 1307.66zM1183.38 1343.66L1214.56 1361.66L1214.56 1397.66L1183.38 1415.66L1152.2 1397.66L1152.2 1361.66zM1245.73 155.66L1276.91 173.66L1276.91 209.66L1245.73 227.66L1214.56 209.66L1214.56 173.66zM1245.73 371.66L1276.91 389.66L1276.91 425.66L1245.73 443.66L1214.56 425.66L1214.56 389.66zM1214.56 425.66L1245.73 443.66L1245.73 479.66L1214.56 497.66L1183.38 479.66L1183.38 443.66zM1214.56 749.66L1245.73 767.66L1245.73 803.66L1214.56 821.66L1183.38 803.66L1183.38 767.66zM1245.73 803.66L1276.91 821.66L1276.91 857.66L1245.73 875.66L1214.56 857.66L1214.56 821.66zM1214.56 857.66L1245.73 875.66L1245.73 911.66L1214.56 929.66L1183.38 911.66L1183.38 875.66zM1245.73 911.66L1276.91 929.66L1276.91 965.66L1245.73 983.66L1214.56 965.66L1214.56 929.66zM1214.56 965.66L1245.73 983.66L1245.73 1019.66L1214.56 1037.66L1183.38 1019.66L1183.38 983.66zM1214.56 1181.66L1245.73 1199.66L1245.73 1235.66L1214.56 1253.66L1183.38 1235.66L1183.38 1199.66zM1245.73 1235.66L1276.91 1253.66L1276.91 1289.66L1245.73 1307.66L1214.56 1289.66L1214.56 1253.66zM1214.56 1289.66L1245.73 1307.66L1245.73 1343.66L1214.56 1361.66L1183.38 1343.66L1183.38 1307.66zM1245.73 1451.66L1276.91 1469.66L1276.91 1505.66L1245.73 1523.66L1214.56 1505.66L1214.56 1469.66zM1276.91 -6.34L1308.09 11.66L1308.09 47.66L1276.91 65.66L1245.73 47.66L1245.73 11.66zM1308.09 47.66L1339.27 65.66L1339.27 101.66L1308.09 119.66L1276.91 101.66L1276.91 65.66zM1308.09 155.66L1339.27 173.66L1339.27 209.66L1308.09 227.66L1276.91 209.66L1276.91 173.66zM1276.91 209.66L1308.09 227.66L1308.09 263.66L1276.91 281.66L1245.73 263.66L1245.73 227.66zM1308.09 263.66L1339.27 281.66L1339.27 317.66L1308.09 335.66L1276.91 317.66L1276.91 281.66zM1276.91 317.66L1308.09 335.66L1308.09 371.66L1276.91 389.66L1245.73 371.66L1245.73 335.66zM1276.91 533.66L1308.09 551.66L1308.09 587.66L1276.91 605.66L1245.73 587.66L1245.73 551.66zM1276.91 641.66L1308.09 659.66L1308.09 695.66L1276.91 713.66L1245.73 695.66L1245.73 659.66zM1276.91 1073.66L1308.09 1091.66L1308.09 1127.66L1276.91 1145.66L1245.73 1127.66L1245.73 1091.66zM1276.91 1181.66L1308.09 1199.66L1308.09 1235.66L1276.91 1253.66L1245.73 1235.66L1245.73 1199.66zM1276.91 1289.66L1308.09 1307.66L1308.09 1343.66L1276.91 1361.66L1245.73 1343.66L1245.73 1307.66zM1308.09 1343.66L1339.27 1361.66L1339.27 1397.66L1308.09 1415.66L1276.91 1397.66L1276.91 1361.66zM1308.09 1451.66L1339.27 1469.66L1339.27 1505.66L1308.09 1523.66L1276.91 1505.66L1276.91 1469.66zM1339.27 -6.34L1370.45 11.66L1370.45 47.66L1339.27 65.66L1308.09 47.66L1308.09 11.66zM1339.27 101.66L1370.45 119.66L1370.45 155.66L1339.27 173.66L1308.09 155.66L1308.09 119.66zM1339.27 209.66L1370.45 227.66L1370.45 263.66L1339.27 281.66L1308.09 263.66L1308.09 227.66zM1370.45 479.66L1401.62 497.66L1401.62 533.66L1370.45 551.66L1339.27 533.66L1339.27 497.66zM1370.45 587.66L1401.62 605.66L1401.62 641.66L1370.45 659.66L1339.27 641.66L1339.27 605.66zM1339.27 641.66L1370.45 659.66L1370.45 695.66L1339.27 713.66L1308.09 695.66L1308.09 659.66zM1370.45 803.66L1401.62 821.66L1401.62 857.66L1370.45 875.66L1339.27 857.66L1339.27 821.66zM1370.45 1127.66L1401.62 1145.66L1401.62 1181.66L1370.45 1199.66L1339.27 1181.66L1339.27 1145.66zM1370.45 1235.66L1401.62 1253.66L1401.62 1289.66L1370.45 1307.66L1339.27 1289.66L1339.27 1253.66zM1339.27 1289.66L1370.45 1307.66L1370.45 1343.66L1339.27 1361.66L1308.09 1343.66L1308.09 1307.66zM1370.45 1343.66L1401.62 1361.66L1401.62 1397.66L1370.45 1415.66L1339.27 1397.66L1339.27 1361.66zM1339.27 1397.66L1370.45 1415.66L1370.45 1451.66L1339.27 1469.66L1308.09 1451.66L1308.09 1415.66zM1401.62 209.66L1432.8 227.66L1432.8 263.66L1401.62 281.66L1370.45 263.66L1370.45 227.66zM1432.8 263.66L1463.98 281.66L1463.98 317.66L1432.8 335.66L1401.62 317.66L1401.62 281.66zM1401.62 317.66L1432.8 335.66L1432.8 371.66L1401.62 389.66L1370.45 371.66L1370.45 335.66zM1432.8 371.66L1463.98 389.66L1463.98 425.66L1432.8 443.66L1401.62 425.66L1401.62 389.66zM1401.62 425.66L1432.8 443.66L1432.8 479.66L1401.62 497.66L1370.45 479.66L1370.45 443.66zM1432.8 587.66L1463.98 605.66L1463.98 641.66L1432.8 659.66L1401.62 641.66L1401.62 605.66zM1401.62 641.66L1432.8 659.66L1432.8 695.66L1401.62 713.66L1370.45 695.66L1370.45 659.66zM1401.62 749.66L1432.8 767.66L1432.8 803.66L1401.62 821.66L1370.45 803.66L1370.45 767.66zM1432.8 911.66L1463.98 929.66L1463.98 965.66L1432.8 983.66L1401.62 965.66L1401.62 929.66zM1401.62 1073.66L1432.8 1091.66L1432.8 1127.66L1401.62 1145.66L1370.45 1127.66L1370.45 1091.66zM1432.8 1127.66L1463.98 1145.66L1463.98 1181.66L1432.8 1199.66L1401.62 1181.66L1401.62 1145.66zM1432.8 1235.66L1463.98 1253.66L1463.98 1289.66L1432.8 1307.66L1401.62 1289.66L1401.62 1253.66zM1463.98 209.66L1495.16 227.66L1495.16 263.66L1463.98 281.66L1432.8 263.66L1432.8 227.66zM1495.16 263.66L1526.33 281.66L1526.33 317.66L1495.16 335.66L1463.98 317.66L1463.98 281.66zM1463.98 317.66L1495.16 335.66L1495.16 371.66L1463.98 389.66L1432.8 371.66L1432.8 335.66zM1495.16 371.66L1526.33 389.66L1526.33 425.66L1495.16 443.66L1463.98 425.66L1463.98 389.66zM1495.16 587.66L1526.33 605.66L1526.33 641.66L1495.16 659.66L1463.98 641.66L1463.98 605.66zM1495.16 695.66L1526.33 713.66L1526.33 749.66L1495.16 767.66L1463.98 749.66L1463.98 713.66zM1495.16 803.66L1526.33 821.66L1526.33 857.66L1495.16 875.66L1463.98 857.66L1463.98 821.66zM1463.98 857.66L1495.16 875.66L1495.16 911.66L1463.98 929.66L1432.8 911.66L1432.8 875.66zM1463.98 1289.66L1495.16 1307.66L1495.16 1343.66L1463.98 1361.66L1432.8 1343.66L1432.8 1307.66zM1495.16 1343.66L1526.33 1361.66L1526.33 1397.66L1495.16 1415.66L1463.98 1397.66L1463.98 1361.66z' stroke='rgba(210%2c 214%2c 224%2c 0.29)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='1440' height='1440' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}