.topBar {
  background-color: rgba(41, 116, 255, 0.801);
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  padding: 0;
  z-index: 8;
}

.topBarContentContainer {
  max-width: 800px;
  margin-left:auto;
  margin-right: auto;
  top: 0;
  height: 40px;
}

.logo {
  margin-top: 12px;
  margin-bottom: auto;
  padding-left: 10px;
  width: 35px;
  height: 35px;
  position: fixed;
  z-index:5;
}

.navbarContentBar {
  height: 40px;
  margin-left: 180px;
  width: 500px;
  display: inline-block;
}

.navbarContentItem {
  float: left;
  cursor: pointer;
  z-index:5;
  font-family: "ReadexLight";
  font-size: 13px;
  color: rgb(255, 255, 255);
  padding-top: 14px;
  padding-bottom: 6px;
  width: 100px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.navbarContentItem:hover {
  float: left;
  cursor: pointer;
  z-index:5;
  font-family: "ReadexLight";
  font-size: 13px;
  color: rgb(255, 255, 255);
  padding-top: 14px;
  padding-bottom: 6px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  border-bottom: 3px solid rgb(255, 255, 255);
}

.LogoName {
  margin-top: 12px;
  width: 150px;
  margin-left: 15px;
  position: fixed;
  font-family: "ReadexBold";
  font-size: 14px;
  color: rgb(255, 255, 255);
  z-index:5;
}