.loadingIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    margin-top: 12vh;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}