@font-face {
    font-family: 'Readex';
    src: local('ReadexPro-Regular'), url(../../../../Fonts/ReadexPro-Regular.woff) format('woff');
}

@font-face {
  font-family: 'ReadexLight';
  src: local('ReadexPro-Light'), url(../../../../Fonts/ReadexPro-Light.woff) format('woff');
}

.thecard{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible !important;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease;
  -moz-transition:  all 0.3s ease;
  transition: all 0.3s ease;
}

.thecardRotated{
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg);
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  overflow: visible !important;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease;
  -moz-transition:  all 0.3s ease;
  transition: all 0.3s ease;
}

.thecardNoAnim{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: visible !important;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all 0s ease;
	-moz-transition:  all 0s ease;
	transition: all 0s ease;
  }

.fronttext{
  width: 100%;
  text-align: center;
  font-family: "ReadexLight";
  font-size: clamp(1rem, 5.5vw, 2rem);
  display: flex;
	align-items: center;
	justify-content: center;
}

.thefront{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	background: #ffffff;
	border-radius: 10px;
	border: 2px solid rgb(241, 241, 241);
	color: rgb(51, 51, 51);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-left: 10px;
	padding-right: 10px;
}

.theback{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	background: #ffffff;
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	border-radius: 10px;
	border: 2px solid rgb(241, 241, 241);
	color: #333;
	cursor: pointer;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-left: 10px;
	padding-right: 10px;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

.cardMasteryDiv{
	position: fixed;
	width: 110px;
	height: 28px;
	bottom: 10px;
	background-color: rgba(0, 0, 255, 0);
	display: flex;
	align-items: center;
	justify-content: center;
}

.masteryboxesCard{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}