.createviewContainerMain {
    width: clamp(200px,96%,800px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 50px;
    padding-bottom: 10px;
    z-index: 2;
    background-color: rgba(242, 245, 250,0.0);
}

.creationContainer{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 2px solid rgb(241, 241, 241);
    font-family: "Readex";
    font-size: 12px;
    color:rgb(70, 70, 70);
    min-height: calc(95vh - 20px);
}

.collectionNameContainer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 2px solid rgb(241, 241, 241);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Readex";
    font-size: 20px;
    color:rgb(70, 70, 70);
}

.nameInput{
    width: 75%;
    height: 100%;
    box-sizing: border-box;
    margin-left: 5%;
    margin-right:14px;
    border: none;
    border-bottom: 1px solid rgb(240, 240, 240);
    font-family: "Readex";
    font-size: 15px;
    color:rgb(70, 70, 70);
    float:left;
}

.nameInput:focus{
    border: none;
    border-bottom: 1px solid rgba(41, 116, 255, 1.0);;
    outline: none;
}

.nameInput::placeholder{
    font-family: "Readex";
    font-size: 15px;
    color:rgb(164, 164, 164)
}

.submitButtonName{
    float:right;
    display: flex;
    height: 100%;
    width: 100px;
    background-color: var(--main-blue);
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    font-size: 10px;
    font-family: "ReadexBold";
    margin-right: 5%;
    border: none;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.submitButtonName:hover{
    border-radius: 20px;
}

.createCollectionTable{
    width: 100%;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    font-family: "Readex";
    font-size: 12px;
    color: rgb(85, 85, 85);
}

.cTableForm{
    margin: 0 0 0 0;
    width: 90%;
}

.cnormalRowTd{
    border-right: 1px solid rgb(240, 240, 240);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;
}

.createTable{
    margin: 0 0 0 0;
    width: 100%;
    border-collapse: collapse;
    font-size: clamp(8px, 2.5vw, 12px);
    table-layout: fixed;
}

.cquestionColumn {
    width: 47%;
}

.canswerColumn {
    width: 47%;
}

.cdeleteColumn {
    width: 6%;
}

.cboldRow {
    font-family: "ReadexBold";
    position: relative;
    color: rgb(105, 105, 105);
    border-radius: 2px;
    border-bottom: 1px solid rgb(105, 105, 105);
    border-left: 1px solid rgb(105, 105, 105);
    border-top: 1px solid rgb(105, 105, 105);
}

.cheaderRow{
    vertical-align: middle;
    border-right: 1px solid rgb(105, 105, 105);
    padding-left: 6px;
    padding-right: 6px;
}

.ctdText{
    align-items: center;
    display: flex;
    height: 30px;
}

.cDelIcon{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cdelButton{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 2px;
}

.cdelButton:hover{
    background-color: rgb(240, 240, 240);
}

.cinputspan{
    display: block;
    padding: 4px 4px;
    width: 100%;
    overflow: hidden;
    min-height: 30px;
    line-height: 20px;
    border: 1px solid rgb(240, 240, 240);
}

.cnormalRevealRow {
    border-bottom: 1px solid rgb(240, 240, 240);
    border-top: 1px solid rgb(240, 240, 240);
    border-left: 1px solid rgb(240, 240, 240);
}

.cAboveTableContainer{
    height: 30px;
    width: 100%;
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
    font-family: "ReadexBold";
    font-size: 10px;
    color: rgb(85, 85, 85);
}

.cbelowTableContainer{
    height: 35px;
    width: 100%;
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    font-family: "ReadexBold";
    font-size: 10px;
    color: rgb(85, 85, 85);
}

.submitButton{
    display: flex;
    height: 100%;
    width: 100px;
    background-color: var(--main-blue);
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    font-size: 10px;
    font-family: "ReadexBold";
    border: none;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.submitButton:hover{
    border-radius: 20px;
}

.caddAnotherRowContainer{
    height: 35px;
    width: 100%;
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: "ReadexBold";
    font-size: 10px;
    color: rgb(85, 85, 85);
}

.addRowButton{
    display: flex;
    height: 100%;
    width: 100%;
    margin-left: 4px;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
	border: 2px solid var(--white-gray240);
	color: var(--main-gray80);
    cursor: pointer;
	transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    
}

.addRowButton:hover{
	background-color: var(--white-gray250);
    border-radius: 20px;
}

.createViewName{
    font-family: "ReadexBold";
    font-size: 24px;
    color:rgb(80, 80, 80);
    padding-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}

@media (max-width: 400px) {
    .submitButtonName{
        display: none;
    }

    .nameInput{
        width: 100%;
    }
}